@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]{
    @apply rounded-md p-2;
};

select {
    @apply rounded-md p-2;
}

:root {
    /* Variables finales para los diseños */
    
    --myfriend-100: #cbe7e8;
    --myfriend-200: #addbdc;
    --myfriend-300: #92d0d0; /* Principal */
    --myfriend-400: #71c5c3;
    --myfriend-500: #57bdbc; /* Principal */
    --myfriend-600: #3aaaa8;
    --myfriend-700: #2ba0a3; /* Principal */
    --myfriend-800: #1c878f;
    --myfriend-900: #106f7b; /* Principal */
    
    --thefit-gray-100: #d9dadb;
    --thefit-gray-200: #c3c3c5; /* Principal */
    --thefit-gray-300: #aeaeaf;
    --thefit-gray-400: #999899;
    --thefit-gray-500: #848587;
    --thefit-gray-600: #737578; /* Principal */
    
    --thefit-orange-100: #fbd6cc; /* Principal */
    --thefit-orange-200: #f8bead;
    --thefit-orange-300: #f5a68e;
    --thefit-orange-400: #f28f71;
    --thefit-orange-500: #ef7853;
    --thefit-orange-600: #ec6339; /* Principal */
    
    --bonavida-dark-100: #cdd1df; /* Principal */
    --bonavida-dark-200: #afb6cc;
    --bonavida-dark-300: #919cba;
    --bonavida-dark-400: #7480a8;
    --bonavida-dark-500: #566494;
    --bonavida-dark-600: #384981;  /* Principal */
    
    --bonavida-light-100: #c9dced;
    --bonavida-light-200: #aac8e2; /* Principal */
    --bonavida-light-300: #88b3d9;
    --bonavida-light-400: #699fce;
    --bonavida-light-500: #498ac3;
    --bonavida-light-600: #2775b9; /* Principal */
  }
  